<div>
<form action="/named_cat" method="post">
<input type="text" name="player1">
<input type="submit" value="subp1">
<input type="text" name="player2">
<input type="submit" value="subp2">
</form>
</div>